<div id="header" class="page-header text-center">
  <h1> Country Select Example </h1>
</div>

<div id="main-container" class="container-fluid">
  <div class="row">

    <div class="col-xs-4">
      <select id="country-select" class="form-control">
        <option value="">Select Country</option>
      </select>
    </div>

    <div class="col-xs-4">
      <select id="state-select" class="form-control">
        <option value="">Select State</option>
      </select>
    </div>

    <div class="col-xs-4">
      <select id="city-select" class="form-control">
        <option value="">Select City</option>
      </select>
    </div>
  </div>
</div>

<hr style="margin-top:400px;">
<%= link_to "Back", blogs_path, class: "btn btn-info" %>
